@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html, body {
  font-family: "Noto Sans", sans-serif;
  @apply text-black
}

@theme {
  --color-black: #292C39;
  --color-black-mid: #303240;
  --color-black-low: #444655;
  --color-gray-dark: #898B9B;
  --color-gray: #A9AABC;
  --color-gray-light: #D4D6E8;
  --color-white-low: #E5E6F2;
  --color-white-mid: #EEEFFA;
  --color-white: #F7F8FF;
  --color-white-bright: #FFFFFF;
  --color-blue-mid: #2E51AB; 
  --color-blue: #406BD0;
  --color-yellow: #EDCD59;

  --radius-small: 20px;
  --radius-medium: 30px;
}

@layer components {
  .text-all-paragraphs {
    font-size: 16px;
    line-height: 24px;
  }
}

@layer base {
  h1 {
    @apply text-4xl
  }
}


@utility bg-gradient-blue-right {
    background: linear-gradient(270deg, #2E51AB 0%, #132145 100%);
}

@utility bg-gradient-blue-left {
    background: linear-gradient(90deg, #132145 0%, #2E51AB 100%);
}